[Unit]
 Description=Git commit scheduler for backing up data
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/mnalavadi/usc-vis
 Type=idle
 ExecStart=/home/mnalavadi/.local/bin/uv run scheduler
 User=mnalavadi

 [Install]
 WantedBy=multi-user.target
 